{% extends "@App/main.html.twig" %}

{% block title %}AppBundle:Index:{% endblock %}

{% block cont %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 categories">
                <ul>
                    <li><a href="{{ path('app_index_index') }}">All</a></li>
    {% for category in categories %}
                <li><a href="{{ path('app_index_index', {'id': category.id}) }}">{{ category.name }}</a></li>
    {% endfor %}
            </ul>
        </div>

    {% for building in paginate %}
        <div class="col-lg-3">
            <a href="{{ path('app_building_show', {'id': building.id}) }}"><img width="200" height="200" src="{{ vich_uploader_asset(building, 'imageFile') }}" />
            <p>{{ building.name }}</p></a>
            <p>{{ overalls[building.id][0]|rating }}</p>
            <p>({{ overalls[building.id][0]|number_format(1) }}, {{ overalls[building.id][1] }} reviews)</p>
            <p><i class="fa fa-camera" aria-hidden="true"> {{ overalls[building.id][2] }} photos</i></p>
        </div>
        {% else %}
        <h1>Заведений не найдено.</h1>
    {% endfor %}
            <div class="col-lg-12">
                <div class="navigation">
                    {{ knp_pagination_render(paginate) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}