{% extends "::base.html.twig" %}

    {% block navbar %}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand и toggle сгруппированы для лучшего отображения на мобильных дисплеях -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('app_index_index') }}">Cafe Critic</a>
                </div>

                <!-- Соберите навигационные ссылки, формы, и другой контент для переключения -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    {% if is_granted('ROLE_USER') %}
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('app_building_create') }}">Add Building</a></li>
                    </ul>
                    {% endif %}
                    <form class="navbar-form navbar-left" action="{{ path('app_index_index') }}" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search" name="parameter">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted('ROLE_USER') %}
                            <li><a href="{{ path('app_building_userbuildingslist', {'id': app.user.id }) }}">Мои заведения</a></li>
                            <li><a href="{{ path('app_index_index') }}">{{ app.user.username }}</a></li>
                            <li><a href="/logout">Logout</a></li>
                        {% endif %}
                        {% if not is_granted('ROLE_USER') %}
                        <li><a href="{{ path('fos_user_security_login') }}">Log in</a></li>
                        <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                        {% endif %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    {% endblock %}
    {% block cont %}

    {% endblock %}
