<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/StarRatingBundle-master/Resources/public/css/rating.css') }}" />
    <link rel="stylesheet" href="{{ asset('font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    <link rel="stylesheet" href="{{ asset('bootstrap-3.3.7-dist/css/bootstrap.min.css') }}">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block navbar %}
{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('bundles/StarRatingBundle-master/Resources/public/js/rating.js') }}"></script>
    <script href="{{ asset('bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script>
{% endblock %}

{% block cont %}{% endblock %}
</body>
</html>
