{% extends "@App/main.html.twig" %}

{% block title %}AppBundle:Building:new{% endblock %}

{% block cont %}
    {% for building in buildings %}
        <h1><a href="{{ path('app_building_show', {'id': building.id}) }}">{{ building.name }}</a></h1>
        <h4>{{ building.author.username }}</h4>
        <b>{{ building.category.name }}</b>
<img width="200" height="200" src="{{ vich_uploader_asset(building, 'imageFile') }}" />
    {% else %}
        <h1>Заведений с такой категорий еще нет!</h1>
    {% endfor %}
{% endblock %}
