{% extends "@App/main.html.twig" %}

{% block title %}AppBundle:Building:create{% endblock %}

{% block cont %}
<div class="container">
    <div class="row">
        <div class="col-lg-offset-3 col-lg-5">
            {{ form_start(form) }}
            <label for="">Название</label>
            {{ form_widget(form.name) }}
            <label for="">Описание</label>
            {{ form_widget(form.description) }}
            {{ form_widget(form.imageFile) }}
            {{ form_widget(form.category) }}
            <p style="margin-top: 10px">Ваша заведения появиться на сайте как только админ одобрит вашу заявку!</p>
            <label for="agree">Я понял</label>
    <input type="checkbox" required class="agree">
    {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
