{% extends "@App/main.html.twig" %}
{% block stylesheets %}


{% endblock %}
{% block title %}AppBundle:Building:new{% endblock %}

{% block cont %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>{{ building.name }}</h1>
                Category: {{ building.category.name }}
                <br>
                Описание:
                <p>{{ building.description }}</p>
            </div>
            <div class="col-lg-6 building-main-photo">
                <img width="400" height="300" src="{{ vich_uploader_asset(building, 'imageFile') }}" />
            </div>
            {% for photo in building.buildingPhotos %}
                <div class="col-lg-3">
                    <img width="200" height="200" src="{{ vich_uploader_asset(photo, 'photoFile') }}" />
                </div>
                {% else %}
                <h3>Фотографий у этого заведения еще нет!</h3>
            {% endfor %}
            <div class="col-lg-12">
                <h4>Ratings:</h4>
                <h6>Overall: {{ data['overall']|rating }} {{ data['overall']|number_format(1) }}</h6>
                <h6>Quality of food: {{ data['bq_rating']|rating }} {{ data['bq_rating']|number_format(1) }}</h6>
                <h6>Quality of service: {{ data['sq_rating']|rating }}  {{ data['sq_rating']|number_format(1) }}</h6>
                <h6>Quality of environment: {{ data['env_rating']|rating }} {{ data['env_rating']|number_format(1) }}</h6>
                <hr>

                <h4>Reviews:</h4>
            </div>
            {% for review in reviews %}
                <div class="col-lg-12">
                    <b class="author">{{ review.datetime|date('Y-m-d') }} > {{ review.author.username }}</b>
                    <div class="review">
                        {% if app.user %}
                            {% if review.author.id == app.user.id %}
                                <td>{{ form(deleteForm, {'action' : path('app_building_delete', {'id' : review.id})}) }}</td>
                            {% endif %}
                        {% endif %}
                        {% if not review.commentary == null %}
                        <span class="comm-label">Комментарий:</span>
                        <div class="comment">{{ review.commentary }}</div>
                        {% endif %}
                        <p class="rating-label">Quality of food:</p> {{ review.buildingQuality|rating }} {{ review.buildingQuality|number_format(1) }}
                        <p class="rating-label">Quality of service:</p> {{ review.serviceQuality|rating }} {{ review.serviceQuality|number_format(1) }}
                        <p class="rating-label">Quality of environment:</p> {{ review.environment|rating }} {{ review.environment|number_format(1) }}
                    </div>
                </div>
            {% endfor %}
            {% if is_granted('ROLE_USER') %}
                {% if may_leave_comment == true %}
                    <div class="col-lg-12">
                        <h5>Add review:</h5>
                        {{ form_start(form) }}
                        {{ form_widget(form.commentary) }}
                        <label for="">Quality of food:</label>
                        {{ form_widget(form.building_quality) }}
                        <label for="">Service quality:</label>
                        {{ form_widget(form.service_quality) }}
                        <label for="">Environment:</label>
                        {{ form_widget(form.environment) }}
                        {{ form_end(form) }}

                        <hr>
                    </div>
                {% endif %}
            <div class="col-lg-12">
            {{ form_start(photoUpload) }}
            <b>Upload new photo for this Building:</b>
            {{ form_widget(photoUpload.photoFile) }}
            {{ form_end(photoUpload) }}
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
