{% extends "@App/main.html.twig" %}

{% block title %}AppBundle:Building:new{% endblock %}

{% block cont %}
    <div class="container">
        {% for building in buildings %}
            <h1><a href="{{ path('app_building_show', {'id': building.id}) }}">{{ building.name }}</a></h1>
            <b>{{ building.category.name }}</b>
            <i>{{ building.description }}</i>
            <img width="200" height="200" src="{{ vich_uploader_asset(building, 'imageFile') }}" />
        {% else %}
            <h1>Вы еще не создавали заведения</h1>
        {% endfor %}
    </div>
{% endblock %}