.rating {
    display: inline-block;
}

.comment {
    max-width: 550px;
    min-height: 50px;
}

.comm-label {
    color: red;
}

.review {
    margin: 20px 0 25px 0;
    border-bottom: 2px solid black;

}

.author {
    display: inline-block;
    padding-left: 10px;
    border-left: 2px solid green;
}
.categories {
    margin-bottom: 50px;
}
.categories ul li{
    float: left;
    display: inline-block;
    list-style: none;
    margin-right: 30px;
}

.categories ul li a:hover{
    color: red;
}